
.btn1{
  padding: 10px 15px ;
  color: #ffffff;
  background-color: #EA4C89;
  border: 0;
  border-radius: 10px;
}
.btn2{
  color: #ffffff;
  background-color: #2ea44f;
  border: 1px solid #2c974b;
  padding: 10px 16px ;
  border-radius: 10px;

}
.btn2:hover{
  background-color: #2c974b;
}
.btn3{
  background-color: #fa6400;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 15px 25px;
}
.btn3:hover{
  transform: translateY(-1px);
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;;
}
.btn4{
  background-color: #e1ecf4;
  color: #39739d;
  border: 1px solid #7aa7c7;
  padding: 12px 20px;
  box-shadow: rgb(255 255 255 / 70%) 0 1px 0 0 inset;
  border-radius: 5px;
}

.btn4:hover{
  background-color: #2c5777;
  color: #b3d3ea;
}
.btn5{
  background-image: linear-gradient(#42A1EC, #0070C9);
  padding: 15px 29px;
  border: 1px solid #0077CC;
  color: #ffffff;
  border-radius: 5px;
}
.btn5:hover{
  background-image: linear-gradient(#147BCD, #51A9EE);
  border-color: #1482D0;

}
.btn6{
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
}
.btn6:hover{
  color:#0070C9; 
  box-shadow: rgb(60 64 67 / 30%) 0 2px 3px 0, rgb(60 64 67 / 15%) 0 6px 10px 4px;
}


.btn7{
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  color: #ffffff;
  padding: 13px 16px;
  position: relative;
}


.button7::after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.btn8{
  background-color: #FF4742;
  border: 1px solid #FF4742;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 6px;
}
.btn8:hover{
  background-color: #ffffff;
  color: #FF4742;
}
.btn9 {
  background-color: #ffffff; 
  color: #000;
  border: 1px solid #000;
  padding: 15px 30px ;
  border-radius: 16px;

}
.btn9:hover{
  background-color: black;
  color: #ffffff;
  border: 0px;
  box-shadow: rgb(0 0 0 / 25%) 0 8px 15px;
  transform: translateY(-2px)
}
.btn10{
  border: 0;
  padding: 15px 28px;
  border-radius: 6px;
  color: #ffffff;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}
.btn10:hover {
  box-shadow: rgb(45 35 66 / 40%) 0 4px 8px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.btn11{
  background-color: #ffffff;
  color: black;
  padding: 13px 25px;
  border: 0;
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.btn11:hover{
  transform: translateY(-2px);

}
.btn12{
  background-color: #fff000;
  color: #000;
  border: 0;
  padding: 10px 20px;
}
.btn12:hover{
   
  background-color: #f4e603;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%), 0 3px 8px 0 rgb(0 0 0 / 15%);
}
.btn13{
  background-color: #c2fbd7;
  border-radius: 100px;
  color: green;
  padding: 7px 20px;
  border: 0px ;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset, rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px, rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px, rgb(44 187 99 / 15%) 0 16px 32px;
}
.btn13:hover{
  transform: scale(1.07);
  box-shadow: rgb(44 187 99 / 35%) 0 -25px 18px -14px inset, rgb(44 187 99 / 25%) 0 1px 2px, rgb(44 187 99 / 25%) 0 2px 4px, rgb(44 187 99 / 25%) 0 4px 8px, rgb(44 187 99 / 25%) 0 8px 16px, rgb(44 187 99 / 25%) 0 16px 32px;
}
.btn14{
  background-color: #000;
  border: 1px solid #000;
  color: #ffffff;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  border-radius: 6px;

}
.btn15{
  background-color: transparent;
  border:1px solid #266DB6;
  color: #00132C;
  padding: 16px 23px ;
  position: relative;

}